body {
  background-color: #FFFFFF; /* White */
  padding: 50px;
  font: 14px/1.5 "Palatino Linotype", Palatino, "Book Antiqua", Georgia, serif;
  color: #000000; /* Black for normal body text */
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: #B22222; /* Main Accent: BrickRed */
  margin: 0 0 20px;
}

p, ul, ol, table, pre, dl {
  color: #000000; /* Black for normal text */
  margin: 0 0 20px;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
  font-weight: 500;
}

h2 {
  color: #D35C37; /* Terracotta */
  font-weight: 500;
}

h3, h4, h5, h6 {
  color: #494949;
  font-weight: 500;
}

a {
  color: #228B8D; /* Muted Teal */
  text-decoration: none;
}

a:hover {
  color: #D35C37; /* Terracotta */
}

a small {
  font-size: 11px;
  color: #777;
  margin-top: -0.3em;
  display: block;
}

a:hover small {
  color: #777;
}

.wrapper {
  width: 860px;
  margin: 0 auto;
}

blockquote {
  border-left: 1px solid #D9A021; /* Golden Yellow */
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

pre {
  padding: 8px 15px;
  background: #F8F8F8; /* Light Gray */
  border-radius: 5px;
  border: 1px solid #E5E5E5;
  overflow-x: auto;
}

code {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: #333333; /* Dark Gray */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #E5E5E5;
}

dt {
  color: #183A59; /* Dark Blue */
  font-weight: 500;
}

th {
  color: #183A59; /* Dark Blue */
}

img {
  max-width: 100%;
}

header {
  width: 270px
